@import "reset.css";

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #273549;
  font-family: "Inter", sans-serif;
}

.page {
  width: 550px;
  min-height: 550px;
  padding: 115px 52px;

  background: #1f2937;
  border-radius: 12px;
}

h1 {
  width: 354px;
  font:
    800 2.5rem / 1 Karla,
    sans-serif;
  letter-spacing: -0.0625rem;
}

h1 span {
  color: #4adf86;
}

p {
  margin: 10px 0 50px;
  color: #d5d4d8;
  font-size: 1.25rem;
  line-height: 1.4;
}

main {
  padding-bottom: 35px;
  margin-bottom: 35px;

  border-bottom: 1px solid #2f3e53;

  display: flex;
  align-items: center;
  gap: 24px;
}

button {
  cursor: pointer;
}

button:active {
  scale: 0.97;
}

.generate-btn,
.save-btn {
  padding: 9px 15px;

  border-radius: 6px;
  background: #10b981;

  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.generate-btn:hover {
  background: #059669;
}

.settings-btn {
  padding: 9px 15px;
  border-radius: 30px;
  border: 2px solid #10b981;
  color: #10b981;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.settings-btn:hover {
  color: #059669;
  border-color: #059669;
}

dialog {
  padding: 30px 60px;

  border: none;
  border-radius: 12px;
  background: #ecfdf5;

  font-size: 1.125rem;
  line-height: 1;
}

dialog::backdrop {
  background: rgb(17 24 39 / 0.7);
}

label {
  color: #2b283a;
  font-weight: 700;
}

input[type="number"] {
  padding: 5px;
  background: #2b283a;
  border-radius: 6px;
  -moz-appearance: textfield;
  margin-bottom: 25px;
  color: #10b981;
}

input[type="checkbox"] {
  appearance: revert;
  accent-color: #10b981;
  margin-bottom: 15px;
}

.save-btn {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

output {
  padding: 4px 10px;
  width: 211px;
  min-height: 39px;
  border-radius: 6px;

  color: #55f991;
  background: #273549;

  font-size: 1rem;
  line-height: 2;
  font-weight: 500;

  word-break: break-all;
  overflow-wrap: anywhere;
}

.copy:empty {
  display: none;
}

.copy {
  width: fit-content;
  padding: 8px 16px;

  border: 2px solid #10b981;
  border-radius: 6px;

  color: #10b981;

  font-family: Karla, sans-serif;
  font-weight: 800;

  position: fixed;
  bottom: 40px;
  left: 50%;
}
